body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.row iframe {
  width: 100%
}