body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.row iframe {
  width: 100%
}
.img-circle {
  border-radius: 50%;
  border:15px solid gainsboro;
  width: 300px;
  height: 300px;
  margin:  0px 40px 40px 40px;
}
.images{
  text-align: center;
}
.text-us{
  text-align: center;
}
.founders{
  margin-left: 70px;
}





