.modes-container, .modes-container-home {
	@include maxWidth(1000px);
	@include flex-container(row nowrap, space-between, flex-start);
	background: #fff;
	padding: 30px;
	position: relative;
}

.modes-container-home {
	@include flex-container(column, flex-start, flex-start);
}

.single-mode {
	@include maxWidth(1366px);
	background: #fff;
	padding: 30px;
}

.btn-create {
	margin-top: 20px;
	position: absolute;

	.btn-green {
		background: #05b52b;
		color: #fff;
		position: fixed;
		right: 20%;
		top: 40%;
		margin-top: -17px;
		font-weight: bold;
		padding: 20px 35px;
	}
}

.create-mode {
	@include maxWidth(1000px);
}